div.home-container {
  width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 4fr;
}

/* === App Menu === */
div.app-menu {
  background-color: #6592ff;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
div.app-menu img {
  max-width: 50%;
  margin: 30px 25% 60px;
}
div.app-menu div.menu-section h6 {
  font-weight: 300;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-left: 20px;
  color: #f1f1f1;
}
div.app-menu div.menu-section ul li {
  padding: 15px;
  text-transform: capitalize;
  color: #fff;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
div.app-menu div.menu-section ul li:hover {
  background-color: #3474fc;
}
div.app-menu div.menu-section ul li svg {
  margin: 0px 15px 0px 10px;
}

/* === Local Menu === */
div.local-menu {
  background-color: white;
  box-shadow: 5px 0px 7px rgba(0, 0, 0, .1);
  padding: 0px 20px;
  text-align: center;
}
div.local-menu img {
  width: 70%;
  border-radius: 100%;
  margin: 35px 15% 20px;
}
div.local-menu h4 {
  font-size: 22px;
  line-height: 1.0;
  font-weight: 700;
  margin-bottom: 5px;
}
div.local-menu h6 {
  font-size: 16px;
  color: silver;
  font-weight: 300;
  margin-bottom: 20px;
}
div.local-menu p.bio {
  font-size: 16px;
}

div.local-menu ul {
  margin-top: 20px;
  list-style: none;
  text-align: start;
}
div.local-menu a {
  color: #000000;
}
div.local-menu ul li {
  padding: 10px;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
div.local-menu ul li svg {
  margin-right: 15px;
}
div.local-menu button {
  margin-top: 20px;
  font-size: 16px;
  padding: 8px 0px;
  width: 100%;
  border-radius: 5px;
  border-color: #6592ff;
  color: #6592ff;
  background-color: white;
}
div.local-menu button:hover {
  background-color: #6592ff;
  color: #FFFFFF;
  cursor: pointer;
}
div.local-menu a:hover {
  color: #3f3f3f;
}
.logout {
  color: #ff185d !important;
}

/* === Local Body === */
div.body {
  background-color: transparent;
  padding: 30px 60px;
  overflow-y: auto;
  height: 100vh;
}
div.body form {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid silver;
}
div.body form input {
  padding: 10px 20px;
  width: 100%;
  border: none;
  font-size: 16px;
}
div.body form input:focus {
  outline-width: 0;
}
div.body div.resume {
  margin: 30px auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;
}
div.body div.resume div.resume-box {
  text-align: center;
  padding: 15px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, .1);
  border-radius: 10px;
}
div.body div.resume div.resume-box h6 {
  font-size: 14px;
  color:rgba(0, 0, 0, .5);
  font-weight: 500;
}
div.body div.resume div.resume-box h3 {
  font-size: 22px;
  color:rgba(0, 0, 0, .8);
}

div.body h6.title {
  font-size: 18px;
  color:rgba(0, 0, 0, .6);
  margin-bottom: 10px;
}
div.body div.repositories {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-gap: 20px 5% ;
}
div.body div.repositories div.repository-box {
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #ff185d;
  border-bottom: 5px solid #ff185d;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 180px;
  word-wrap: break-word;
}
div.body div.repositories div.repository-box:hover {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, .3);
}
div.body div.repositories div.repository-box h5.title {
  font-size: 18px;
  color: rgba(0, 0, 0, .8);
  margin-bottom: 5px;
}
div.body div.repositories div.repository-box h6.description {
  font-size: 16px;
  color: rgba(0, 0, 0, .6);
  font-weight: 300;
  margin-bottom: 10px;
}
div.body div.repositories div.repository-box div.repository-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
div.body div.repositories div.repository-box div.repository-footer h6 {
  font-size: 15px;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, .8);
}
div.body div.repositories div.repository-box div.repository-footer h6 svg {
  margin-right: 5px;
  margin-bottom: 2px;
}