div.repository-container {
  width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 5fr;
}
div.repository-body {
  background-color: transparent;
  padding: 30px 60px;
  overflow-y: scroll;
  height: 100vh;
}