/* === App Menu === */
div.app-bar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
div.app-bar img {
  max-width: 50%;
  margin: 30px 25%;
}
div.app-bar div.menu-section h6 {
  font-weight: 300;
  font-size: 16px;
  text-transform: uppercase;
  margin: 30px 0px 10px 20px;
  color: #a1a1a1;
}
div.app-bar div.menu-section ul li {
  padding: 13px;
  text-transform: capitalize;
  color: #fff;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
div.app-bar div.menu-section ul li.active {
  background-color: rgba(255, 255, 255, 0.1);
}
div.app-bar div.menu-section ul li:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
div.app-bar div.menu-section ul li svg {
  margin: 0px 15px 0px 10px;
}