div.following-container {
  width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 5fr;
}

/* === Local Body === */
div.following-body {
  background-color: transparent;
  padding: 30px 60px;
  overflow-y: scroll;
  height: 100vh;
}
div.following-body div.following {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}